APP_NAME="NexusPHP Documentation"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_KEY=base64:c2VjcmV0a2V5bmV4dXNwaHAxMjM0NTY3ODkwMTIzNDU2

DB_DRIVER=sqlite
DB_DATABASE=storage/database.sqlite

CACHE_DRIVER=file
QUEUE_CONNECTION=database
